# numpy==1.24.3
numpy==1.24.3
pandas-ta>=0.3.14b0
pandas==2.0.2
plotly==5.15.0
py-cpuinfo>=9.0.0
pycryptodome==3.18.0
pytz>=2022.7.1
redis==4.5.5
requests==2.31.0
scipy>=1.7.3
setuptools==67.8.0
tqdm==4.65.0
typing
kaleido

# python-dotenv==0.21.0
# numba # no version for python 3.11 yet, required version between 3.7 and 3.10
scikit-learn>=0.24.0  # optional for kmeans with support and resistance levels

# docs
sphinx==7.0.1
autodocsumm==0.2.11
shibuya==2023.6.8
